body {
    background-color: #FFF;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    font-family: 'Noto Serif JP', serif;
}

body a {
    text-decoration: none;
    color: #000;
}

header {
    max-width: 1920px;
    min-width: 1440px;
    font-family: 'Julius Sans One', sans-serif;
    width: 100%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    vertical-align: top;
    margin: 0;
}

nav li {
    margin-left: 40px;
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: width .3s ease-in-out;
}

nav a:hover::before {
    width: 100%;
}

@keyframes zoomDown {
    0% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.mainvisual {
    margin: 0 auto 180px;
    width: 1440px;
    padding: 0 60px;
    display: flex;
}

.mainslides {
    position: relative;
    margin-right: 80px;
}

.mainslides .swiper {
    width: 840px;
    height: 800px;
}


.mainslides .swiper-pagination-bullet {
    background-color: #E4E4E4;
    width: 6px;
    height: 6px;
    margin: 0 12px !important;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #FCFCF6;
    font-size: 42px;
    white-space: nowrap;
}

.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
    animation: zoomDown 7s linear 0s normal both;
}



.mainslides .swiper .swiper-slide {
    position: relative;
    overflow: hidden;
}

.mainslides .swiper .swiper-img {
    position: absolute;
    inset: 0;
    margin: auto;
}

.mainslides .swiper img {
    width: 100%;
    height: auto;
}

.slide-introduction {
    display: flex;
    min-width: max-content;
    align-items: center;
    font-size: 18px;
    line-height: 35px;
}

.title h2 {
    font-size: 50px;
    margin: 0 0 18px;
    font-family: 'Julius Sans One', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
}

.bridelfair-body {
    position: relative;
}

.swiper-btn {
    display: flex;
    position: absolute;
    top: 30px;
    right: 100px;
}

.bridelfair-body .swiper-button-prev,
.bridelfair-body .swiper-button-next {
    position: static;
    margin: 0 15px;
    --swiper-navigation-size: 20px;
    --swiper-navigation-color: #000;
}

.bridelfair {
    width: 1440px;
    margin: 0 auto;
    padding: 0px 0px 180px 120px;
}

.bridelfair-slides {
    margin: 0px 0 40px;
}

.card-img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    overflow: hidden;
}

.card-img img{
    transition: all .5s;
}

.card-img img:hover {
    transform: scale(1.08);
}

.card p {
    margin: 0;
    line-height: 30px;
}

.card-icon {
    display: flex;
    justify-content: end;
}

.card-icon svg {
    width: 10px;
    height: 10px;
    font-size: 0;
    margin: 6px 10px 0;
}

.bridelfair-slides .swiper-slide {
    width: 350px;
    display: inline-block;
}

.bridelfair-slides .swiper-slide+.swiper-slide {
    margin-left: 30px;
}

.viewmore-btn {
    text-align: end;
    padding: 0 120px;
    overflow: hidden;
    
}

.viewmore-btn-wrap {
    display: inline-block;
    font-size: 18px;
    line-height: 20px;
    position: relative;
}

 .viewmore-btn-wrap::before {
    width: 0%;
    height: 1px;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .3s ease-in-out;
    background: #000;
}

 .viewmore-btn-wrap:hover::before {
    width: 100%;
}

.viewmore-btn-body {
    display: flex;
    margin-bottom: 7px;
    position: relative;
}

.viewmore-btn a {
    display: block;
    text-decoration: none;
    font-family: "Julius Sans One";
    margin-right: 10px;
}

.viewmore-btn svg {
    width: 4px;
    height: 8px;
    font-size: 0;
    margin-top: 8px;
}

.introduction {
    width: 1440px;
    margin: 0 auto;
}

.logo {
    text-align: center;
    margin-bottom: 53px;
}

.chathcopy {
    writing-mode: vertical-rl;
    font-size: 16px;
    letter-spacing: .44em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: calc(384px / 8);
    margin: 0 auto 180px;
}

.chathcopy p {
    margin: 0;
    box-sizing: border-box;
}

.sub-img {
    text-align: center;
}

.consept {
    margin: 0 auto;
    padding: 180px 300px;
    text-align: center;
    min-width: 1440px;
}

.plan {
    width: 1440px;
    margin: 0 auto;
}

.plan-body {
    position: relative;
    padding: 0 120px 180px;
}

.plan-body::after {
    width: 1440px;
    height: 690px;
    content: "";
    background-image: url("../img/planbgimg.png");
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-position: center bottom;
}

.card-list {
    display: flex;
}

.plan-card {
    position: relative;
}

.plan-card-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.plan-card-img img{
    transition: all .5s;
}

.plan-card-img img:hover {
    transform: scale(1.08);
}

.plan-card-body {
    width: 488px;
    padding: 34px;
    background-color: #FFF;
    position: absolute;
    bottom: -70px;
    right: 0px;
}

.plan-card-body h3 {
    margin: 0 0 10px;
    font-family: "Cormorant";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}

.plan-card-body p {
    margin: 0;
}

.plan-card-icon {
    width: 10px;
    height: 10px;
    font-size: 0;
    position: absolute;
    display: inline-block;
    bottom: 16px;
    right: 16px;
}

.plan-card-icon svg {
    width: 100%;
    height: 100%;
}

.information {
    margin: 0 auto;
    width: 1440px;
    padding: 180px 120px;
    box-sizing: border-box;
}

.tab {
    display: flex;
    height: 330px;
}

.tab-head {
    margin-right: 186px;
    min-width: 204px;
}

.tab-title h2{
    margin: 0 0 40px 0;
    font-family: "Julius Sans One";
    font-size: 30px;
    font-weight: 400;
}

ul.filter {
    padding: 0;
    margin: 0;
}

.filter li {
    list-style: none;
    color: #B4B4B4;
    cursor: pointer;
    margin: 0 0 20px;
    font-family: "Noto Sans JP";
}

.filter li.is-active {
    color: #000;
    list-style-type: disc;
}

.filter li.is-active::marker {
    color: #DEE7E0;
}

.category li {
    display: none;
    font-family: "Noto Sans JP";
}

.category li.is-show {
    display: flex;
}

ul.category {
    padding: 0;
    margin: 0;
}

.category-item {
    display: flex;
    width: 810px;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 39px;
    padding-bottom: 40px;
    border-bottom: solid 1px #000;
    box-sizing: border-box;
    transition: all .3s;
}

.category-item:hover {

    opacity: .7;
}

.category-item a {
    display: flex;
}

.category-head {
    display: flex;
    width: 178px;
    margin-right: 59px;
}

.category-date {
    margin-right: 50px;
}

.category-label {
    color: #B4B4B4;
}

.information .viewmore-btn{
    text-align: end;
    padding: 0;
}

.contact {
    margin: 0 auto;
    background-color: #EBEFEC;
}

.contact-wrap {
    display: flex;
    justify-content: space-between;
}

.contact-text-body {
    min-width: 290px;
    padding: 120px 0 ;
    margin: 0px 120px;
}

.contact-title {
    font-family: 'Julius Sans One';
    font-size: 30px;
    line-height: 33px;
    font-weight: 400;
    margin: 0 0 50px;
}

.contact-text {
    font-family: "Noto Sans JP";
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 25px;
}

.contact-tel {
    font-family: 'Julius Sans One';
    font-size: 30px;
    line-height: 33px;
    margin: 0 0 25px;
}

.contact a {
    display: flex;
    text-decoration: none;
}

.btn-navy {
    width: 258px;
    height: 75px;
    background-color: #405A57;
    align-items: center;
    justify-content: center;
    color: #FCFCF6;
    transition: all .3s ease-in-out;
}

.btn-navy:hover {
    letter-spacing: 1.26px;
}

.btn-txt-navy {
    font-size: 18px;
    font-family: "Noto Sans JP";
    font-weight: 400;
}

.btn-navy svg {
    font-size: 0;
    width: 30px;
    height: 24px;
    pointer-events: none;
    margin: 0 20px 0 0;
    line-height: 27px;
}

footer {
    background-color: #262F2E;
    position: relative;
}

.footer-body {
    padding: 120px 120px 30px;
}

.footer-logo {
    margin-bottom: 120px;
}

.adles {
    display: flex;
    padding-bottom: 80px;
    border-bottom: 1px solid #FCFCF6;
    margin-bottom: 30px;
}

.adles-text {
    margin-right: 80px;
}

.adles-text h2,
.adles-text p {
    color: #E4E4E4;
    font-family: 'Noto Sans JP';
}

.adles-text h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 18px;
}

.adles-text p {
    font-size: 13px;
}

.sns-link {
    margin-top: auto;
    margin-left: auto;
}

.sns-link a {
    margin-left: 15px;
}

.copy {
    display: flex;
    justify-content: space-between;
    color: #E4E4E4;
    font-size: 12px;
}

.copy-right {
    text-decoration-line: underline;
}

.contents-heading {
    opacity: 0;
    transform: translateY(70px);
}

.active {
    opacity: 1;
    transition: 1.2s ease-in;
    transform: translateY(0);
  }