body {
    background-color: #E4E4E4;
    font-size: 16px;
    color: #000;
    font-family: 'Noto Serif JP', serif;
}

header {
    max-width: 1920px;
    min-width: 1440px;
    font-family: 'Julius Sans One', sans-serif;
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #000;
}

nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 40px;
}

@keyframes zoomUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.15);
    }
}

.mainvisual {
    padding-left: 60px;
    display: flex;
}

.slides {
    position: relative;
}

.swiper {
    width: 840px;
    height: 800px;
}

.slide-text p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    color: #E4E4E4;
    font-size: 42px;
    white-space: nowrap;
    margin: 0;
}

.swiper-slide-active .swiper-img,
.swiper-slide-duplicate-active .swiper-img,
.swiper-slide-prev .swiper-img {
    animation: zoomUp 7s linear 0s normal both;
}

#swiper .swiper-pagination-bullet {
    background-color: #E4E4E4;
}


#swiper .swiper-slide {
    position: relative;
    overflow: hidden;
}

#swiper .swiper-img {
    position: absolute;
    inset: 0;
    margin: auto;
}

#swiper img {
    width: 100%;
    height: auto;
}

.slide-introduction {
    padding-left: 80px;
    padding-top: 370px;
    font-size: 18px;
    line-height: 35px;
}

.slide-introduction p {
    margin: 0;
}

.title h2{
    font-size: 50px;
    font-family: 'Julius Sans One', sans-serif;
}